<section class="bg-main-light p-4 rounded-3 my-3 shadow w-50 mx-auto ">

<form [formGroup]="Checkout" (ngSubmit)="handelform()"> 


<label for="details">details</label>

<textarea  id="details" class="form-control" formControlName="details" ></textarea>




<label for="phone">phone</label>

<input id="phone" type="tel" class="form-control" formControlName="phone" />



<label for="city">city</label>

<input type="text" id="city" class="form-control" formControlName="city" />

<button class="btn-main mt-3">shekout</button>

</form>



















































</section>
