<section class="w-75 mx-auto bg-main-light p-3 rounded-3 my-2">

<h1>shop cart</h1>

<p class="text-main">total prias : {{ cartDetals.totalCartPrice |currency:' EGP '}}</p>


<div class="row border-bottom p-2" *ngFor="let item of cartDetals.products">

<div class="col-md-1">

<img [src]="item.product.imageCover " class="w-100" alt="">


</div>





<div class="col-md-11">

<div class="d-flex justify-content-between align-items-center">


    <div>

        <h3 class="h5">{{item.product.title}}</h3>
        
        <p class="text-main m-0"> price : {{item.price |currency}}</p>
        
        <button class="btn p-0 m-0 " (click)="removeCreItem(item.product._id)"><i class="fa-regular fa-trash-can"></i> Remove </button>
        
        </div>
        
        
        <div >
        
        
        <button  (click)="shengecount(item.product._id ,item.count +1)"  class=  "btn border border-success"> + </button>
        
        <span class="m-3">{{item.count}}</span>
        
        <button (click)="shengecount(item.product._id ,item.count -1)" class="btn border border-success"> - </button>
        
        
        
        
        
        
        
        </div>
        




</div>

</div>




</div>

<button [routerLink]="['/Checkout', cartDetals._id ]" class="btn-main m-2">Online Paymant <img src="../../assets/images/visa-1.svg" alt=""></button>






















</section>
