<section class="w-75 mx-auto">

<div class="row align-items-center">


<div class="col-md-2">

    
    <owl-carousel-o [options]="prodactSlider">
  
      <ng-container *ngFor="let item of prodactDitals.images">
        <ng-template carouselSlide >
          <img [src]="item" >
        </ng-template>
      </ng-container>
  
    </owl-carousel-o>
    







</div>


<div class="col-md-10">

<div>

<h3>{{prodactDitals.title}}</h3>


<p class="text-muted">{{prodactDitals.description}}</p>

<h4>{{prodactDitals.category.name}}</h4>

</div>


<div class="d-flex align-items-center justify-content-between">
    <span>{{prodactDitals.price}} EGP</span>
    <div>
        <i class="fas fa-star rating-color"></i>  
    
    <span class="text-muted">{{prodactDitals.ratingsAverage}}</span>
    
    </div>
</div>


<button class="btn btn-main w-100">Add Prodact</button>






</div>




</div>





































</section>
